<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamers.imedikit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
                    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
     <permission
        android:name="com.dreamers.imedikit.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.dreamers.imedikit.permission.MAPS_RECEIVE"/>
 
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>    
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/> 
    

    <application
          android:name="com.dreamers.model.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <meta-data android:name="AA_DB_NAME" android:value="medikit.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" /> 
        
        <activity
            android:name="com.dreamers.imedikit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".OptionActivity"></activity>
            <activity android:name=".SearchGeneric"></activity>
            <activity android:name=".SearchTrade"></activity>
             <activity android:name=".DrugOptionActivity"></activity>
              <activity android:name=".GenericDetails"></activity>
              <activity android:name=".SearchTradeDose"></activity>
              <activity android:name=".SearchGenericDose"></activity>
                <activity android:name=".DistrictList"></activity>
                 <activity android:name=".DoctorDetails"></activity>
                  <activity android:name=".DoctorInMap"></activity>
                   <activity android:name=".DoctorList"></activity>
                     <activity android:name=".SpecialList"></activity>
                       <activity android:name=".HerbalList"></activity>
                         <activity android:name=".HerbalDetailsActivity"></activity>
                             <activity android:name=".HotTopicList"></activity>
                                 <activity android:name=".HotTopicDescription"></activity>
                                  <activity android:name=".AlarmPopUp"></activity>
                                  <activity android:name=".Reminder"></activity>
                                         
        <receiver android:name="AlarmReceiver">
            <intent-filter>
                <action android:name="com.dreamers.imedikit.ALARM"/>
            </intent-filter>
        </receiver>
          
    <meta-data                             
      android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version"/>
        <meta-data
     android:name="com.google.android.maps.v2.API_KEY"
     android:value="AIzaSyBay3wZoLgq8CEdRPny1jtlNgPU-oqi6oU" />                             
                                 
                                 
    </application>

</manifest>
