<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamers.imedikit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
          android:name="com.dreamers.model.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <meta-data android:name="AA_DB_NAME" android:value="medikit.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" /> 
        
        <activity
            android:name="com.dreamers.imedikit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".OptionActivity"></activity>
            <activity android:name=".SearchGeneric"></activity>
             <activity android:name=".DrugOptionActivity"></activity>
              <activity android:name=".GenericDetails"></activity>
    </application>

</manifest>
